<footer class="bg-gray-200 dark:bg-gray-800 rounded-lg shadow m-4">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© <a href="https://github.com/MohNamdar/Blogino" class="hover:underline">بلاگینو</a> توسط <a class="text-blue-500" href="{% url "blog:about" %}">محمد نامدار</a> کدنویسی شده</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="{% url 'blog:article_all' %}" class="hover:underline me-4 md:me-6">مقاله ها</a>
      </li>
      <li>
        <a href="{% url 'blog:podcast_list' %}" class="hover:underline me-4 md:me-6">پادکست ها</a>
      </li>
      <li>
        <a href="{% url 'blog:gallery' %}" class="hover:underline me-4 md:me-6">گالری</a>
      </li>
      <li>
        <a href="{% url 'blog:about' %}" class="hover:underline">درباره من</a>
      </li>
    </ul>
  </div>
</footer>
