{% extends 'parent/base.html' %}

{% block title %}خطای ۴۰۴ - صفحه پیدا نشد{% endblock %}

{% block content %}
    <!-- Error Page Content-->
    <main class="error">
        <!-- 404 Error Page Content-->
        <svg width="200" height="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10" fill="#333333"></circle>
            <circle cx="12" cy="12" r="6" fill="#FFFFFF"></circle>
            <circle cx="12" cy="12" r="2" fill="#333333"></circle>
        </svg>
        <h1>خطای ۴۰۴ - صفحه پیدا نشد</h1>
        <p>متأسفیم، صفحه‌ای که دنبال آن هستید پیدا نشد.</p><a href="index.html">بازگشت به صفحه اصلی</a>
    </main>
{% endblock %}