{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link href=" https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css " rel="stylesheet" />
    <script src=" https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js "></script>
    <!-- Document metadata -->
    <meta name="description" content="وبسایت شخصی محمد نامدار" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <meta name="keywords" content="محمد نامدارنامدار,برنامه نویسی,وبلاگ,شخصی,وبسایت شخصی" />
    <meta name="author" content="Mohammad Namdar | محمد نامدار" />
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="وبسایت شخصی محمد نامدار" />
    <meta property="og:description" content="وبسایت و وبلاگ شخصی محمد نامدار" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% block head %}{% endblock %}
  </head>

  <header>
    {% include 'partials/header.html' %}
  </header>

  <body class="bg-white dark:bg-gray-900">
    <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
      <div class="max-w-screen-xl px-4 2xl:px-0">
        <div class="mt-6 sm:mt-8 md:gap-3 lg:flex lg:items-start xl:gap-4">
          <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-3xl px-4">
            <div class="space-y-6">
              {% block content %}
              {% endblock %}
            </div>
          </div>

          <div class="mx-auto mt-6 max-w-4xl flex-[1.2] space-y-6 lg:mt-0 lg:w-full">
            {% include 'partials/sidebar.html' %}
          </div>
        </div>
      </div>
    </section>
  </body>

  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>

  {% include 'partials/footer.html' %}
</html>
