{% extends 'parent/base.html' %}
{% load blog_tags %}

{% block title %}
  گالری
{% endblock %}

{% block content %}
  <section class="card">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center mb-8">گالری تصاویر</h2>

    {% if page_obj %}
      <div class="grid grid-cols-2 gap-2">
        {% for image in page_obj %}
          <figure class="relative cursor-pointer">
            <a href="{{ image.image_file.url }}"><img class="rounded-lg" src="{{ image.image_file.url }}" /></a>
            <figcaption class="absolute px-4 text-lg text-white bottom-3">
              {% if image.title %}
                <p>{{ image.title }}</p>
              {% endif %}
              <p>{{ image.created|jalali_date }}</p>
            </figcaption>
          </figure>
        {% endfor %}
      </div>
      {% include 'partials/pagination.html' %}
    {% else %}
      <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <span class="font-medium">متاسفم</span>هیچ تصویری پیدا نشد :(
      </div>
    {% endif %}
  </section>
{% endblock %}
