{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% load blog_tags %}
{% block title %}صفحه اصلی{% endblock %}

{% block head %}
    <!-- Document metadata-->
    <meta name="description" content="توضیحات مربوط به صفحه">
    <meta name="keywords" content="کلمات کلیدی مربوط به صفحه">
    <meta name="author" content="نام نویسنده">
    <meta name="robots" content="index, follow">
    <!-- Open Graph meta tags-->
    <meta property="og:title" content="عنوان صفحه">
    <meta property="og:description" content="توضیحات مربوط به صفحه">
    <meta property="og:type" content="website">
    <meta property="og:url" content="آدرس صفحه">
    <meta property="og:image" content="آدرس تصویر">
    <!-- Twitter Cards meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="عنوان صفحه">
    <meta name="twitter:description" content="توضیحات مربوط به صفحه">
    <meta name="twitter:image" content="آدرس تصویر">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Main content section-->
        <main>
            <!-- Text Article -->
            {% for article in articles %}
                <article class="card">
                    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2><img
                        src="{{ article.cover.url }}"
                        alt="تصویر مقاله">
                    <p>{{ article.content | truncatewords:20 }}</p>
                    <!-- Date/Time & Comments Count Info-->
                    <p class="article-info">تاریخ انتشار: {{ article.create_date | jformat:'%Y/%m/%d' }} |
                        ساعت {{ article.create_date | jformat:'%H:%M' }} | {{ article.comments.count }} نظر</p>
                </article>
            {% endfor %}

            <!-- Pagination row-->
            <div class="pagination"><a class="page-link" href="#">قبلی</a><a class="page-link active" href="#">1</a><a
                    class="page-link" href="#">2</a>...<a class="page-link" href="#">23</a><a class="page-link"
                                                                                              href="#">24</a><a
                    class="page-link" href="#">بعدی</a></div>
        </main>
        <!-- Sidebar-->
        <aside class="sidebar">
            <!-- Social media boxes-->
            {% include 'partials/social_link_sidebar.html' %}
            <div class="card">
                <form method="get" action="#">
                    <input type="text" placeholder="جستجوی نوشته‌ها...">
                    <button type="submit">>></button>
                </form>
            </div>
            <div class="card">
                <h5 class="sidebar-card-title">دسته‌بندی‌ها</h5>
                {% category_list %}
            </div>
            <!-- Today Events Section -->
            <div class="card">
                <h5 class="sidebar-card-title">درچنین روزی:</h5>
                <ul>
                    {% for event in events %}
                        <li>{{ event }}</li>
                        <br>
                    {% endfor %}
                </ul>
            </div>

            <!-- Tags Section-->
            <div class="card">
                <h5 class="sidebar-card-title">برچسب‌ها</h5>
                {% tags_list %}
            </div>
        </aside>
    </div>
{% endblock %}