{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% load static %}

{% block title %}صفحه پادکست{% endblock %}

{% block head %}
    <!-- Document metadata-->
    <meta name="description" content="توضیحات مربوط به صفحه">
    <meta name="keywords" content="کلمات کلیدی مربوط به صفحه">
    <meta name="author" content="نام نویسنده">
    <meta name="robots" content="index, follow">
    <!-- Open Graph meta tags-->
    <meta property="og:title" content="عنوان صفحه">
    <meta property="og:description" content="توضیحات مربوط به صفحه">
    <meta property="og:type" content="website">
    <meta property="og:url" content="آدرس صفحه">
    <meta property="og:image" content="آدرس تصویر">
    <!-- Twitter Cards meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="عنوان صفحه">
    <meta name="twitter:description" content="توضیحات مربوط به صفحه">
    <meta name="twitter:image" content="آدرس تصویر">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Main content section-->
        <main>
            <!-- Breadcrumb navigation-->
            <div class="breadcrumb"><a href="{% url 'blog:home' %}">خانه</a> &gt; <a
                    href="{% url 'blog:podcast_list' %}">پادکست</a> &gt;
                اپیزودهای {{ category }}
            </div>
            <section class="card">
                <h2>آخرین پادکست های ما</h2>
                <div class="about-text">
                    <p><img class="about-photo" src="{% static 'media/../../blog/static/images/podcast.jpg' %}" alt="تصویر نمایه">آخرین پادکست های
                        مارو میتونید از طریق پلتفرم های زیر دنبال کنید</p>
                    <br> <br>
                    <div class="podcast-buttons">
                        <a class="castbox" href="#" target="_blank"><i class="fa-solid fa-circle-play"></i> کست باکس</a>
                        <a class="google-podcast" href="#" target="_blank"><i class="fab fa-google"></i> گوگل پادکست</a>
                        <a class="apple-podcast" href="#" target="_blank"><i class="fab fa-apple"></i> اپل پادکست</a>
                        <a class="spotify" href="#" target="_blank"><i class="fab fa-spotify"></i> اسپاتیفای</a>
                    </div>
                </div>
            </section>
            {% for pod in page_obj %}
                <article class="card">
                    <h2><a href="{{ pod.get_absolute_url }}">{{ pod.title }}</a>
                    </h2><img src="{{ pod.cover.url }}"
                              alt="تصویر پادکست">
                    <audio controls>
                        <source src="{{ pod.audio.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>{{ pod.content | truncatewords:15 }}</p>
                    <div class="podcast-buttons">
                        {% if pod.castbox_link %}
                            <a href="#" target="_blank">گوش دادن در کست‌باکس</a>
                        {% endif %}
                        {% if pod.apple_podcast_link %}
                            <a href="#" target="_blank">گوش دادن در اپل پادکست</a>
                        {% endif %}
                        {% if pod.google_podcasat_link %}
                            <a href="#" target="_blank">گوش دادن در گوگل پادکست</a>
                        {% endif %}

                    </div>
                    <!-- Date/Time & Comments Count Info-->
                    <p class="article-info">تاریخ انتشار: {{ pod.create_date | jformat:'%Y/%m/%d' }} |
                        ساعت {{ pod.create_date | jformat:'%H:%M' }} | {{ pod.comments.count }} نظر </p>
                </article>
            {% endfor %}


            {% include 'partials/pagination.html' %}

        </main>
        <!-- Sidebar-->
        <aside class="sidebar">
            <!-- Social media boxes-->
            {% include 'partials/social_link_sidebar.html' %}

            <div class="card">
                <form method="get" action="#">
                    <input type="text" placeholder="جستجوی نوشته‌ها...">
                    <button type="submit">>></button>
                </form>
            </div>
            <div class="card">
                <h5 class="sidebar-card-title">دسته‌بندی‌ها</h5>
                {% category_list %}
            </div>

            <!-- Tags Section-->
            <div class="card">
                <h5 class="sidebar-card-title">برچسب‌ها</h5>
                {% tags_list %}

            </div>
        </aside>
    </div>
{% endblock %}